nav#navbar.navbar.sticky-top
  .menu-logo
    a.pb-0.navbar-brand.text-white(href='/').d-none.d-md-block
      | !{app.NAME}
      small  !{app.V_NAME}
    a.pb-0.navbar-brand.text-white(href='/').d-md-none.d-block
      | !{app.ALTN}

  .o-nav-items.d-flex
    .nav-item
      a.nav-link(href="/")
        i.bi.bi-speedometer
        span.d-none.d-lg-inline &nbsp; !{content.navbar.dashboard}

    .nav-item
      a.nav-link(href="/daily-sales")
        i.bi.bi-receipt
        span.d-none.d-lg-inline &nbsp; !{content.navbar.today_sale}

    .nav-item
      a.nav-link(href="#")
        i.bi.bi-bell
        span.d-none.d-lg-inline &nbsp; !{content.navbar.notification}

    include ../includes/other/nav-language
    include ../includes/other/nav-setting