doctype html
head
  title 
    | !{app.NAME}
    | !{page.title && " | " + page.title}
  meta(charset='utf-8')
  meta(name='description' content='')
  meta(name='author' content='Wai Phyo')
  meta(name="viewport" content="user-scalable=no, width=420, initial-scale=1")
  //- meta(id="vp" name='viewport' content='width=device-width, initial-scale=1')

  // Favicon
  link(rel='manifest' href='/images/favicons/site.webmanifest')
  link(rel='apple-touch-icon' sizes='180x180' href='/images/favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/images/favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/images/favicons/favicon-16x16.png')

  // Bootstrap 4
  link(href='/assets/bootstrap/css/bootstrap.min.css' rel='stylesheet')

  // Style Lib
  link(href='/stylesheet/lib/printjs/print.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/toastr/toastr.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/select2/select2.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/rich-text/richtext.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/sweetalert2/sweetalert2.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/datepicker/bootstrap-datepicker.min.css' rel='stylesheet')

  // Icons Lib
  link(href='/stylesheet/lib/font-bootstrap/bootstrap-icons.css' rel='stylesheet')
  link(href='/stylesheet/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')

  // Custom CSS
  link(href='/stylesheet/theme-config.css' rel='stylesheet')
  link#theme(href=`/stylesheet/theme-${user.theme}.css` rel='stylesheet')
  link(href='/stylesheet/material-btn.css' rel='stylesheet')
  link(href='/stylesheet/pos-panel.css' rel='stylesheet')

  style.
    .scroll-category-x {
      display: flex; 
      flex-wrap: nowrap; 
      overflow-x: auto; 
      -webkit-overflow-scrolling: touch; 
      -ms-overflow-style: -ms-autohiding-scrollbar; 
    }

    .scroll-category-x::-webkit-scrollbar {
      display: none; 
    }

  // Jquery Core
  script(src="/javascript/lib/jquery.min.js")

#wrapper 
  include layout-panelbar
  
  .div-panel
    block content

    .float-content
      a.btn(href="tel:+95775915615", class="float-phone")
        i.bi.bi-headset.bounce-icon

script.
  if (!sessionStorage.getItem('riyosha')) {
    const userJson = JSON.stringify(!{JSON.stringify(user)})
    sessionStorage.setItem('riyosha', userJson)
  }

  if (!sessionStorage.getItem('kontentsu')) {
    const contentJson = JSON.stringify(!{JSON.stringify(content)})
    sessionStorage.setItem('kontentsu', contentJson)
  }

script(src='/javascript/_global.js')

<!-- Bootstrap -->
script(src='/assets/bootstrap/js/bootstrap.bundle.min.js')

<!-- Javascript Lib -->
script(src='/javascript/lib/printjs/print.min.js')
script(src='/javascript/lib/toastr/toastr.min.js')
script(src='/javascript/lib/select2/select2.full.min.js')
script(src='/javascript/lib/sweetalert2/sweetalert2.min.js')
script(src='/javascript/lib/rich-text/jquery.richtext.min.js')
script(src="/javascript/lib/datepicker/bootstrap-datepicker.min.js")

<!-- Custom JS -->
script(src='/javascript/common.js')
script(src='/javascript/onload.js')
script(src='/javascript/helpers.js')

script.
  function modalServiceApi(args, callback) {
    $.ajax({
      url: args.url,
      type: args.type || "GET",
      data: args.data || {},
      headers: headers,
      success: function (data) {
        data && handleAlert(data, false)
      },
      error: function (jqXHR, textStatus, errorThrown) {
        toastrWarning({
          type: 'warning',
          title: content['modal'].warning,
          description: jqXHR.responseJSON.message || errorThrown,
        })
      },
      complete: function (data) {
        typeof callback === 'function' && callback(data.responseJSON)
      }
    });
  }