doctype html
head
  title 
    | !{app.NAME}
    | !{page.title && " | " + page.title}
  meta(charset='utf-8')
  meta(name='description' content='')
  meta(name='author' content='Wai Phyo')
  meta(name="viewport" content="user-scalable=no, width=420, initial-scale=1")
  //- meta(id="vp" name='viewport' content='width=device-width, initial-scale=1')

  // Favicon
  link(rel='manifest' href='/images/favicons/site.webmanifest')
  link(rel='apple-touch-icon' sizes='180x180' href='/images/favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/images/favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/images/favicons/favicon-16x16.png')

  // Bootstrap 4
  link(href='/assets/bootstrap/css/bootstrap.min.css' rel='stylesheet')

  // Style Lib
  link(href='/stylesheet/lib/printjs/print.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/toastr/toastr.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/select2/select2.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/rich-text/richtext.min.css' rel='stylesheet')
  //- link(href='/stylesheet/lib/select/bootstrap-select.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/sweetalert2/sweetalert2.min.css' rel='stylesheet')
  link(href='/stylesheet/lib/datepicker/bootstrap-datepicker.min.css' rel='stylesheet')
  link(href="https://cdn.jsdelivr.net/npm/bootstrap-steps@%5E1.0/dist/bootstrap-steps.min.css" rel="stylesheet")

  // Icons Lib
  link(href='/stylesheet/lib/font-bootstrap/bootstrap-icons.css' rel='stylesheet')
  link(href='/stylesheet/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')

  // Custom CSS
  link(href='/stylesheet/theme-config.css' rel='stylesheet')
  link#theme(href=`/stylesheet/theme-${user.theme}.css` rel='stylesheet')
  link(href='/stylesheet/material-btn.css' rel='stylesheet')
  link(href='/stylesheet/dashboard.css' rel='stylesheet')
  
  // Jquery Core
  script(src="/javascript/lib/jquery.min.js")

#wrapper.d-flex
  include layout-sidebar

  #page-content-wrapper
    include layout-mainbar

    .container-fluid
      block content

      .float-content
        a.btn(href="tel:+95775915615", class="float-phone")
          i.bi.bi-headset.bounce-icon

//- #loader.preloader

script.
  if (!sessionStorage.getItem('riyosha')) {
    const userJson = JSON.stringify(!{JSON.stringify(user)})
    sessionStorage.setItem('riyosha', userJson)
  }

  if (!sessionStorage.getItem('kontentsu')) {
    const contentJson = JSON.stringify(!{JSON.stringify(content)})
    sessionStorage.setItem('kontentsu', contentJson)
  }

script(src='/javascript/_global.js')


<!-- Bootstrap -->
script(src='/assets/bootstrap/js/bootstrap.bundle.min.js')

<!-- Javascript Lib -->
script(src='/javascript/lib/moment/moment.js')
script(src='/javascript/lib/printjs/print.min.js')
script(src='/javascript/lib/toastr/toastr.min.js')
script(src='/javascript/lib/select2/select2.full.min.js')
script(src='/javascript/lib/sweetalert2/sweetalert2.min.js')
//- script(src="/javascript/lib/select/bootstrap-select.min.js")
script(src='/javascript/lib/rich-text/jquery.richtext.min.js')
script(src="/javascript/lib/datepicker/bootstrap-datepicker.min.js")

<!-- Custom JS -->
script(src='/javascript/common.js')
script(src='/javascript/onload.js')
script(src='/javascript/helpers.js')

// Menu Toggle Script
script.
  let socket;
  //- var socket = new WebSocket('ws://localhost:8766/start');
  //- var socket = new WebSocket("ws://socket.hyperpos.neohubasia.com:81");
  //- var socket = new WebSocket('ws://54.251.218.89:8766/start');

  //- if (socket.readyState === WebSocket.OPEN) {
  //-   // Close the existing connection if open
  //-   socket.close();
  //- }

  //- socket.onopen = function(event) {
  //-   //- socket.send("Hello, world!");
  //- };

  //- socket.onmessage = function(event) {
  //-   const user_id = event.data 

  //-   if (user_id == userId) {
  //-     location.replace("/logout");
  //-   }
  //- };

  //- socket.onclose = function(event) {
  //-   if (event.wasClean) {
  //-     //- toastrWarning({
  //-     //-   type: 'warning',
  //-     //-   title: content['modal'].warning,
  //-     //-   description: `Description: Closed socket on code=${event.code}`,
  //-     //- })
  //-   } else {
  //-     //- toastrWarning({
  //-     //-   type: 'warning',
  //-     //-   title: content['modal'].warning,
  //-     //-   description: 'Description: Socket connection was closed',
  //-     //- })
  //-   }
  //- };

  //- socket.onerror = function(error) {
  //-   //- toastrWarning({
  //-   //-   type: 'error',
  //-   //-   title: content['modal'].warning,
  //-   //-   description:'Description: Error found on socket connection',
  //-   //- })
  //- };

  $("#menuToggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");

    $('.dataTables_scrollHeadInner').css('width', '100%');
    $('.table.table-striped').css('width', '100%');

    setTimeout(() => {
      table && table.columns.adjust().draw();  
    }, 500)
  });

  function modalServiceApi(args, callback) {
    $.ajax({
      url: args.url,
      type: args.type || "GET",
      data: args.data || {},
      headers: headers,
      success: function (data) {
        data && handleAlert(data, false)
      },
      error: function (jqXHR, textStatus, errorThrown) {
        toastrWarning({
          type: 'warning',
          title: content['modal'].warning,
          description: jqXHR.responseJSON.message || errorThrown,
        })
      },
      complete: function (data) {
        typeof callback === 'function' && callback(data.responseJSON)
      }
    });
  }

  function dataTableDef (curPage, serverSide = true) { 
    const buttons = [
      'excel',
      'pdf', 
      'print'
    ];

    const options = {
      exportOptions: {
        modifier: {
          order: 'index',
          page: 'all',
          search: 'none'
        },
        columns: ':visible'
      }
    };

    const langOptions = {
      "searchPlaceholder": "Search",
      "paginate": {
        "first": "<i class='bi bi-chevron-double-left'/>",
        "previous": "<i class='bi bi-chevron-left'/>",
        "next": "<i class='bi bi-chevron-right'/>",
        "last": "<i class='bi bi-chevron-double-right'/>"
      }
    };

    const buttonOptions = buttons.map((button) => {
      return {
        filename: curPage,
        extend: button,
        footer: false,
        ...options
      }
    });

    const lengthOptions = [
      [10, 25, 50, -1],
      [10, 25, 50, 'All'],
    ];

    return {
      "destroy": true,
      "scrollX": true,
      "processing": true,
      "serverSide": serverSide,
      "pagingType": "full_numbers",
      "language": langOptions,
      "buttons": buttonOptions,
      "lengthMenu": lengthOptions,
      "dom":"<'row'<'col-sm-12'f>><'row'<'col-sm-12'tr>> \
            <'row d-flex justify-content-between'<'col-4 d-none d-md-block'l> \
            <'col-4 d-none d-md-block'<'d-flex justify-content-center mt-1 pb-2'i>> \
            <'col-sm-12 col-md-4'p>>"
    };
  }

  function fetchDataDef (curUrl) {
    return {
      "url": `./api/${curUrl}`,
      "headers": headers,
      "dataSrc": "data",
    };
  }