div.modal.fade#dialogLinkAccount(tabindex='-1', role='dialog', aria-labelledby='dialogLinkAccount')
  div.modal-dialog.modal-dialog-centered.modal-lg.custom-modal-lg(role='document')
    div.modal-content
      div.modal-header
        h5.modal-title !{content.modal.link_person}
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      
      div.modal-body
        div.px-4
          form#linkAccountForm.form-horizontal.form-validate(method='post', action='/link-user' novalidate)
            -var recordId = data._id || data.id;
            input.input-sm#recordId2(type='hidden', name='id', value=recordId)
            
            div.form-group.row
              div.col-sm-12
                label.control-label(for='account_type') !{content.account_type}
                div.radio-group
                  label.radio
                    input#owner(type='radio' name='account_type' value='owner' required disabled=user.role == 'owner')
                    span(class=user.role == 'owner' ? 'bg-light' : '')
                      img.img(src="/images/users/user.png" alt="owner-image")
                      b.text-center.d-block Owner

                  label.radio
                    input#staff(type='radio' name='account_type' value='employee' required)
                    span
                      img.img(src="/images/users/user.png" alt="staff-image")
                      b.text-center.d-block Employee

                  label.radio
                    input#supplier(type='radio' name='account_type' value='supplier' required disabled)
                    span.bg-light
                      img.img(src="/images/users/user.png" alt="supplier-image")
                      b.text-center.d-block Supplier

                  label.radio
                    input#customer(type='radio' name='account_type' value='customer' required disabled)
                    span.bg-light
                      img.img(src="/images/users/user.png" alt="customer-image")
                      b.text-center.d-block Customer

            hr

            div#ownerDiv.form-group.row.d-none
              div.col-sm-12.mb-3
                label.control-label(for='owner_id') !{content.owner_name} *
                select.form-control.input-sm.custom-select.all-select2-picker#ownerId(name='owner_id' data-live-search="true", data-size="8" required)
                span.invalid-feedback
                  | !{content.common.err_required}

            div#staffDiv.form-group.row.d-none
              div.col-sm-6.mb-3
                label.control-label(for='store_id') !{content.store_name} *
                select.form-control.input-sm.custom-select.all-select2-picker#storeId(name='store_id' data-live-search="true", data-size="8")
                span.invalid-feedback
                  | !{content.common.err_required}

              div.col-sm-6.mb-3
                label.control-label(for='staff_id') !{content.employee_name} *
                select.form-control.input-sm.custom-select.all-select2-picker#staffId(name='staff_id' data-live-search="true", data-size="8")
                span.invalid-feedback
                  | !{content.common.err_required}

      div.modal-footer.justify-content-md-center
        button.btn.material-button.material-secondary#dialogCancel(type='button', data-dismiss='modal')
          |  !{content.common.btn_close}
        
        button.btn.material-button.material-primary#dialogLinkBtn(type='button' role='button')
          i.bi.bi-save
          |  !{content.common.btn_save}

script.
  $(document).ready(function() {
    ajaxLoadOption({
      type: "GET",
      url:"/owner",
      showKey: "name",
      selectId: "#ownerId",
      filterObj: { status: 1 },
      //- filterObj: { status: 1, account_id: 'null' },
      isSelected: true,
    }, (data) => {
        $("#ownerId").trigger('change');
    });

    $("#ownerId").on('change', function() {
      const owner_id = $(this).val() ||         // get value [new entry]
                       $(this).data('value');   // get value [edit entry]
      
      owner_id && ajaxLoadOption({
        type: "GET",
        url:"/store",
        showKey: "name",
        selectId: "#storeId",
        filterObj: { status: 1, owner_id },
      });
    });

    $("#storeId").on('change', function() {
      const store_id = $(this).val() ||         // get value [new entry]
                       $(this).data('value');   // get value [edit entry]
      
      store_id && ajaxLoadOption({
        type: "GET",
        url:"/employee",
        showKey: "name",
        selectId: "#staffId",
        filterObj: { status: 1, store_id },
      });
    });

    $('input[type=radio][name=account_type]').change(function() {
      $('#ownerDiv').removeClass('d-none')

      if (this.value === 'owner') {
        $('#staffDiv').addClass('d-none')

        $('#storeId').attr({ required: false }).val('').change();
        $('#staffId').attr({ required: false }).val('').change();
      }
      else if (this.value === 'employee') {
        $('#staffDiv').removeClass('d-none')

        $('#storeId').attr({ required: true }).val('').change();
        $('#staffId').attr({ required: true }).val('').change();
      }
    });

    $('#dialogLinkBtn').on('click', function() {
      var form = $('#linkAccountForm');
      var isValidForm = form[0].checkValidity();

      if (!isValidForm) {
        form.addClass('was-validated')
        return
      }

      form.submit();
    })

    $('#linkAccountForm').submit(function (e) {
      e.preventDefault()

      var _this = this

      const data = {
        url: $(_this).attr('action'),
        type: $(_this).attr('method'),
        data: $(_this).serialize(),
      }

      commonServiceApi({
        type: data.type,
        data: data.data,
        url: `/api/${v1}${data.url}`,
      }, function (data) {
        if (data.code == '200') {
          $('#dialogLinkAccount').modal('toggle');
          setTimeout(() => location.reload(), 1500) 
        }
      })
    })
  });
