extends ../../includes/layout-main
block content
  main.border.mx-3.mb-5.p-3(role='main')
    include ./../../includes/entry/entry-header

    ul#myTab.nav.nav-tabs.mb-3(role='tablist')
      li.nav-item(role='profile')
        button#profile-tab.nav-link.active(data-toggle='tab' data-target='#profile' type='button' role='tab' aria-controls='profile' aria-selected='true')
          i.bi.bi-person-circle
          span.d-none.d-lg-block !{content.common.tab_profile}
      
      li.nav-item.mx-1(role='security')
        button#security-tab.nav-link(data-toggle='tab' data-target='#security' type='button' role='tab' aria-controls='security' aria-selected='false')
          i.bi.bi-shield-lock
          span.d-none.d-lg-block !{content.common.tab_security}
          
      li.nav-item(role='logged')
        button#user-log-tab.nav-link(data-toggle='tab' data-target='#user-log' type='button' role='tab' aria-controls='user-log' aria-selected='false')
          i.bi.bi-list-nested
          span.d-none.d-lg-block !{content.common.tab_logging}
      
      li.nav-item.ml-auto
        a#setting.nav-link.btn.text-success(href='/setting') 
          i.bi.bi-gear
          span.d-none.d-lg-block !{content.common.tab_setting}

    #myTabContent.tab-content
      #profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='profile-tab')
        include ./../../includes/entry/entry-form
          block inputs
            div.form-group.row 
              div.col-md-6.mb-3
                label.control-label(for='username') !{content.username} *
                input.form-control.input-sm.username#username(type='text', name='username', value=data.username, maxlength="55" readonly)
              
              div.col-md-6.mb-3
                label.control-label(for='user_type') !{content.user_type} *
                input.form-control.input-sm.user_type#userType(type='text', name='user_type', value=data.user_type, maxlength="55" readonly)
              
              div.col-md-6.mb-3
                label.control-label(for='phone') !{content.phone} *
                input.form-control.input-sm.phone#phone(type='text', name='phone', value=data.phone, maxlength="14" autocomplete="off" required)
                span.invalid-feedback
                  | !{content.common.err_required}
              
              div.col-md-6.mb-3
                include ./../../includes/common/input-status
              
              //- div.col-md-6.mb-3
              //-   label.control-label(for='theme') !{content.theme}
              //-   select.form-control.input-sm.custom-select.all-select2-picker#theme(name='theme' value=data.theme data-value=data.theme, data-live-search="true", data-size="8")
              //-     option(value="default") Default
              //-     option(value="action") Action
              //-     option(value="comedy") Comedy
              //-     option(value="crime") Crime
              //-     option(value="history") History
              //-     option(value="reality") Reality
              //-     option(value="news") News
              //-     option(value="sport") Sport
              
              //- div.col-md-6.mb-3
              //-   label.control-label(for='locale') !{content.locale}
              //-   select.form-control.input-sm.custom-select.all-select2-picker#locale(name='locale' value=data.locale data-value=data.locale, data-live-search="true", data-size="8")
              //-     option(value="en_US") en_US
              //-     option(value="my_MM") my_MM
              //-     option(value="th_TH") th_TH
            
            include ./../../includes/entry/entry-btn
      
      #security.tab-pane.fade(role='tabpanel' aria-labelledby='security-tab')
        div.alert.alert-warning.alert-dismissible(role='alert')
          b Notes:
          span 
            | Changing your password will log you out from all active sessions. 
            | Make sure to update your password in any other devices you are logged into.
          button.close(type='button', data-hide='alert', aria-label='Close')
            span(aria-hidden='true') &times;

        include ./../../includes/entry/entry-form2
        
        +entryForm({ formId: "#entryForm2", recordId: "#recordId2" })
          div.form-group.row
            div.col-md-6.mb-3
              label.control-label(for='old_password') !{content.old_password} *
              div.input-group
                input.form-control.input-sm.old_password#oldPassword(type='password', name='old_password', role='password' value="" required)
                div.input-group-append
                  div.input-group-text.rounded-right
                    i.bi.bi-eye-slash(aria-hidden='true')
                span.invalid-feedback
                  | !{content.common.err_required}
              
            div.col-md-6.mb-3
              label.control-label(for='new_password') !{content.new_password} *
              div.input-group
                input.form-control.input-sm.password#newPassword(type='password', name='password', role='password' value=""  required)
                div.input-group-append
                  div.input-group-text.rounded-right
                    i.bi.bi-eye-slash(aria-hidden='true')
                span.invalid-feedback
                  | !{content.common.err_required}
            
          include ./../../includes/entry/entry-btn
        
      #user-log.tab-pane.fade(role='tabpanel' aria-labelledby='user-log-tab')
        ul(style="list-style: none; margin-left: -30px;")
          each log, index in data.user_logs
            li
              h6 
                span(class=log.status ? "bi-check-circle text-success" : "bi-x-circle text-danger")
                | &nbsp; !{log.created_at}
              p.text-muted.text-wrap !{log.ip_address} !{log.user_agent} 

  script.
    $(document).ready(function() {
      $('#theme').val('!{data.theme}').change();
      $('#locale').val('!{data.locale}').change();
    });